image: "debian:stretch-slim"

stages:
  - prepare
  - build
  - test
  - publish

variables:
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

.write_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo

.read_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo
    policy: pull

.toolchain-stable:
  extends: .read_cache
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default stable

.toolchain-nightly:
  extends: .read_cache
  allow_failure: true
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default nightly

####### Jobs #######

install-rust:
  extends: .write_cache
  stage: prepare
  script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates curl
    - curl https://sh.rustup.rs > rustup.sh
    - sh rustup.sh -y --default-host x86_64-unknown-linux-gnu
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup install ${RUST_STABLE_VERSION:-stable}
    - rustup install nightly
    - rustup component add clippy

build-stable:
  extends: .toolchain-stable
  stage: build
  script:
    - cargo build --no-default-features
    - cargo build --features "tls"
    - cargo build --features "hls"
    - cargo build --features "web"
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

build-nightly:
  extends: .toolchain-nightly
  stage: build
  script:
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

test-clippy:
  extends: .toolchain-stable
  stage: test
  allow_failure: true
  script:
    - cargo clippy
  only:
    changes:
      - src/**/*.rs

deploy-crates-io:
  extends: .toolchain-stable
  stage: publish
  script:
    - cargo publish --token $CRATES_IO_API_TOKEN
  only:
    - tags@valeth/javelin
